{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Finished Subtasks</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/java.js' %}"></script><!-- Linking the wesite to JavaScript -->
    <script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.min.js' %}"></script><!-- Linking the wesite to resources for tables -->
    <script src="https://kit.fontawesome.com/7281c95392.js" crossorigin="anonymous"></script> <!-- Linking the wesite for icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"> <!-- Linking the page to the resources for the tabels -->
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"> <!-- Linking the page to the CSS file with static files -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> <!-- Linking the page to the Responsive CSS file with static files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"><!-- Linking the page to Bootstrap -->
  </head>

<body>
  <div class="container-fluid" style="margin: 0">
    <div class="row">
      <div class="col-2" id="nav_bar">
        <!-- Navigation bar -->
        <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="RedRock logo">
        <div class="d-grid">
            <!-- Navigation links connected with URL -->
            <a class="btn-g" href="{% url 'displayindex' %}" role="button"><i class="fa fa-home"></i> Home</a>
            <a class="btn-g" href="{% url 'displayorder' %}" role="button"><i class="fa fa-calendar"></i>
                Operation</a>
            <a class="btn-g" href="{% url 'displaydata' %}" role="button"><i class="fa fa-chart-area"></i>
                Subtask</a>
                <a class="btn-g" href="{% url 'admin:index' %}" role="button"><i class="fa fa-lock"></i>
                  Admin</a>
                
        </div>
        <p class="text-center foot">ver 0.0.1 © RedRock.AI</p> <!-- Copiright text -->
    </div>
      <div class="col-10" id="page-s">
      <div class="headder">
        <h1 class="title-home-e">Finished Subtasks  <a href="{% url 'displaydata' %}" type="button"
          class="btn btn-secondary" style="float: right; padding-right: 5px;">Back</a></h1>
      </div>
        <div class="new_table">
          <table id="table" class="display">
            <thead><!-- Table head-->
              <tr>
                <th class="">LoadSeq</th> <!-- Columns -->
                <th class="">Status</th> <!-- Columns -->
                <th class="">Stow</th> <!-- Columns -->
                <th class="">MoveTo</th> <!-- Columns -->
                <th class="">Assignee</th> <!-- Columns -->
                <th class="">ID</th> <!-- Columns -->
                <th class="">ContinerID</th> <!-- Columns -->
                <th class="">Weight</th> <!-- Columns -->
              </tr>
            </thead>
            <tbody> <!-- Table body -->
              {% for Subtask in Subtask %} <!-- Geting data from views.py -->
              <tr>
                <td class="">{{Subtask.loadSeq}}</td> <!-- Rows with valeus from Database -->
                <td class="">{{Subtask.status}}</td> <!-- Rows with valeus from Database -->
                <td class="">{{Subtask.stow}}</td> <!-- Rows with valeus from Database -->
                <td class="">{{Subtask.moveTo}}</td> <!-- Rows with valeus from Database -->
                <td class="">{{Subtask.assignee}}</td> <!-- Rows with valeus from Database -->
                <td class="">{{Subtask.subtaskID}}</td> <!-- Rows with valeus from Database -->
                <td class="">{{Subtask.containerID}}</td> <!-- Rows with valeus from Database -->
                <td class="">{{Subtask.containerWeightT}}</td> <!-- Rows with valeus from Database -->
              </tr>
              {% endfor %} <!-- Ending for loop -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>